<section class="content-header">
  <div class="logo">
    <img src="../assets/bread.png" alt="">
  </div>
  <div class="menu">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="#funcionalidade">Menu</a></li>
      <li><a href="#avaliacoes">Our Story</a></li>
      <li><a href="#preco">Contact Us</a></li>
    </ul>
  </div>
  <a class="icon-hamburger" href="javascript:;">
    <span></span>
    <span></span>
    <span></span>
  </a>
</section>

<section class="slider">
  <div class="left">
    <div class="conteudo">
      <p class="dot"><img src="../assets/dotted.png" alt=""></p>
      <p class="header"><img src="../assets/Untitled-2.png" alt=""></p>
      <p class="subtitle"><img src="../assets/week.png" alt=""></p>
    </div>
  </div>
  <div class="right">
    <div class="fundo">
      <img src="../assets/combo.png" alt="">
    </div>
  </div>
</section>

<section class="news">
  <div class="left">
    <img src="../assets/burger1.png" alt="">
  </div>
  <div class="right">
    <img src="../assets/burger2.png" alt="">
    <img src="../assets/burger3.png" alt="">
  </div>
</section>

<section class="menuBurger">
  <div class="header">
    <div class="highlight">
      <p>Always taste burger</p>
    </div>
    <div class="title">
      Choose & enjoy
    </div>
    <div class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </div>
  </div>

</section>