<section>
  <div class="blur_clr"></div>
  <div class="blur_clr"></div>
  <header>
    <a href="#" class="logo"><fa-icon [icon]="faHamburger"></fa-icon></a>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <a href="#" class="btn">Sign Up</a>
  </header>
  <div class="content">
    <div class="contentBx">
      <h1>Burger Week</h1>
      <p>It is a good time for the great taste of burgers</p>
      <a class="btn">Order Now</a>
    </div>
    <div class="imgBx">
      <img src="../assets/Floating-burger-PNG.png" alt="">
    </div>
  </div>
</section>
